/* body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
  }
  
  h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .input-group {
    display: flex;
    align-items: center;
    width: 300px;
    margin-bottom: 10px;
  }
  
  .input-group input[type="text"] {
    margin-left: 10px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
    font-size: 18px;
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  }
  
  .input-group label {
    margin-right: 10px;
  }
  
  .input-group input[type="checkbox"] {
    width: 22px;
    height: 22px;
    margin-right: 5px;
  }
  
  input[type="checkbox"] {
    margin-bottom: 5px;
  }
  
  button {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #555;
  } */

  body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
  }
  
  h1 {
    color: #1c09f4;
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(22, 6, 236, 0.868);
    
  }
  
  .input-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    border-color: #5506e7;
  }
  
  .input-group input[type="text"] {
    margin-left: 10px;
    padding: 12px;
    border: 1px solid #2609c9;
    border-radius: 5px;
    width: 15em;
    font-size: 18px;
  }
  
  .input-group label {
    margin-right: 10px;
  }
  
  .input-group input[type="checkbox"] {
    width: 22px;
    height: 29px;
    margin-right: 5px;
  }
  
  input[type="checkbox"] {
    margin-bottom: 7px;
  }
  
  button {
    background-color: #5506e7;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #555;
  }